<!doctype html>
<html lang="pt-br">
<head>
    <!-- Metadados -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- CSS FOLDER PUBLIC-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.css')}}" 
        media="screen">

    <!-- Título da página (aparece na aba) -->
    <title>Seu Caderno de Receitas</title>

</head>

<body>
<h1 style="text-align:center;">Editar ingrediente {{ ingrediente.nome }}</h1>
<form action="/edit/{{ ingrediente.ingrediente_id }} " class="container" method="POST">
    <div class="row">
        <div class="col-md-6">
            <input style="text-transform:uppercase" type="text" onblur="uppercase()" name="nome" id="nome" placeholder="nome" class="form-control" value="{{ ingrediente.nome }}" >
        </div>
    </div>
    <br>
    <div class="col-xs-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>
</body>
<script>
    function uppercase()
    {
        var x = document.getElementById("nome");
        x.value = x.value.toUpperCase()
    }
</script>