<!doctype html>
<html lang="pt-br">
<head>
    <!-- Metadados -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
    <!-- CSS FOLDER PUBLIC-->
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.css')}}" 
   media="screen">

    <!-- Título da página (aparece na aba) -->
    <title>Receitas</title>
</head>

<body>
        <h1 style="text-align:center;">Cadastrar Receita</h1>
            <form action="/add_receita" class="container" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" name="nome" id="nome" placeholder="Nome da Receita" class="form-control">
                    </div>
                    <div>
                        <label>Modo de Preparo</label>
                        <textarea class="form-control" name="modo_preparo" id="modo_preparo" rows="3"></textarea>
                    </div>
                </div>
            <br>
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-block btn-primary">Adicionar</button>
                </div>
            <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Receita</th>
                    <th>Modo de Preparo</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                    {% for r in receitas %}
                <tr>
                    <td>{{r.id}}</td>
                    <td>{{r.nome}}</td>
                    <td>{{r.modo_preparo}}</td>
                    <td>
                        <a href="/itens_receita/{{r.id}}">Adicionar itens</a> |
                        <a href="/edit_receita/{{r.id}}">Editar</a> |
                        <a href="/delete_receita/{{r.id}}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
            <br>
            <div class="col-xs-2">
                <a href="/usuario">
                <button type="button" class="btn btn-block btn-success">Voltar</button>
                </a>
            </div>
            </section>
        </form>
       </div>
</body>